h1 {
  font-family: verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
p{
  color: Aquamarine;
  fon size: 16px;
  text-align: center;

}
h2{
  font-family: verdana;
  font-weight: 300;
  font-size: 42px;
  color:white;
  text-align: center;
}
#ex {
  font-family: verdana;
  font-size: :21px;
  color:gray;
  text-align: center;
}
#exu {
  text-align: right;
  color:gray;
}
#back{
  background-color: black;

}

.center {
  display: block;
    margin-left: auto;
    margin-right: auto;

}
